body {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px; 
  padding: 24px; 
}

.gallery-item {
  margin: 0; 
}

.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
  object-fit: cover; 
}

.gallery-item:hover {
  transform: scale(1.03);
}

